* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins&family=Righteous&display=swap");

:root {
  font-family: "Anton", sans-serif;
  font-size: 50%;
}

body {
  background-color: black;
  color: aliceblue;
  padding: 14rem 12rem 14rem 11rem;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.grid {
  display: grid;
  gap: 3rem;
}

header {
  position: fixed;
  max-width: 30rem;
}

header h1 {
  font-size: 5rem;
  font-weight: 400;
}

header i {
  font-size: 3.5rem;
  display: block;
  margin-top: 3.5rem;
}

main {
  margin-left: 40rem;
}

.vertical {
  grid-column: 2;
}

.vertical,
.vertical2 {
  grid-row: 1/3;
}

.vertical img,
.vertical2 img {
  aspect-ratio: 9/16;
}

.horizontal {
  grid-column: 1/3;
}

.horizontal img {
  aspect-ratio: 16/9;
}

.container {
  position: relative;
  outline: 4px solid transparent;
}

.container span {
  font-size: 3rem;
  display: block;
  width: 100%;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent, black 80%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.container:hover span {
  visibility: visible;
  opacity: 1;
}

.container:hover {
  outline: 4px solid aliceblue;
}

@media screen and (min-width: 580px) and (max-width: 1000px) {
  main {
    margin-left: 25rem;
  }
  header h1 {
    font-size: 4rem;
    width: 80%;
  }
  body {
    padding: 8rem;
  }
  .container span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 580px) {
  main {
    margin-left: 0;
    margin-top: 10rem;
  }
  header {
    position: relative;
  }
  body {
    padding: 4rem;
  }
  .container span {
    font-size: 1.5rem;
  }
}
